<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tweeter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A1EF87B1BC02F7200BDD675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1EF88F1BC02F7200BDD675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1EF89A1BC02F7200BDD675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
